@charset "utf-8";

/*------------------------------

 初期設定

------------------------------*/
@media print{ 
	body{font-size: 3mm;} /* 上書き */
}

@media screen{
	body{padding: 1em 2em; }
}

h1,h2,h3,h4,h5,h6{margin-bottom:0.5em; padding:0;}
ol,ul{margin:0;}
li{margin:0.75em 0 0.75em; }


/*------------------------------

------------------------------*/
/* 組み方、装飾 */
h1{}
h2{border-bottom:2px solid #ccc;}
h3{border-bottom:1px dotted #ccc;}


/* フォントサイズ、行間、色 */
p,li{line-height: 1.5;}

h1{font-size:1.6em;}
h2{font-size:1.4em;}
h3{font-size:1.2em;}

.red{color:red;}